{subtemplate header}
<div id="nav"><a href="$indexname">$bbname</a> &raquo; {lang home}</div>
<!--{if $admode && !empty($advlist['text'])}--><div class="ad_text" id="ad_text"><table summary="Text Ad" cellpadding="0" cellspacing="1">$advlist[text]</table></div><!--{else}--><div id="ad_text"></div><!--{/if}-->
<div id="wrap"{if $infosidestatus['allow'] < 2} class="wrap s_clear"{else} class="wrap with_side s_clear"{/if}>
<!--{if $infosidestatus[allow] == 2}-->
	<a id="sidebar_img" href="javascript:;" onclick="sidebar_collapse(['{lang sidebar_collapsed_yes}', '{lang sidebar_collapsed_no}']);" class="$collapseimg[sidebar]"><!--{if $collapseimg[sidebar] == 'collapsed_yes'}-->{lang sidebar_collapsed_yes}<!--{else}-->{lang sidebar_collapsed_no}<!--{/if}--></a>
<!--{elseif $infosidestatus[allow] == 1}-->
	<a id="sidebar_img" href="javascript:;" onclick="sidebar_collapse(['', '{lang sidebar_collapsed_no}']);" class="collapsed_yes">{lang sidebar_collapsed_yes}</a>
<!--{/if}-->
<div class="main"><div class="content">

	<div class="box1 l">
		Facts:   ??位阀门专家, ??家阀门产品样本<br/>
                              ..........<br/>
                             <a href="#">加入我们 注册</a><br/>
	</div>
	
	<div class="box1 l">
                    账号:<input type="text" width=50/><br/>
                    密码:<input type="password" width=50/><a href="#">忘记密码</a><br/>
        <input type="checkbox"/>记住我    <button>登陆</button>  <a href="#">注册</a>
	</div>
	
	<div class="box1 l">
	          网站理念：<br/>
	    ............ ......................<br/>
	    ............ ......................<br/>
	    ............ ......................<br/>
	</div>
	
	<div class="box1 l">
	          今日新闻：<br/>
	    ............ ......................<br/>
	    ............ ......................<br/>
	    ............ ......................<br/>
	</div>

</div></div>

{subtemplate footer}